			<div role="navigation" class="navbar navbar-inverse"><!--default 标签的默认样式 inverse标签的默认样式的相反样式-->
				<a href="#/aa" class="navbar-brand">导航</a>
				 
				<div class="pull-right navbar-text"><!--pull-right 相当于右浮动 pull-right相反-->
					<a href="#/dd"class="btn btn-default">收藏夹</a>
					<!--你的购物车{{countmycar()}}件,{{mytotalprice | currency}}元-->
					<a href="#/bb" class="btn btn-default ">查看</a>
                                                                                                                    
				</div>
			</div>    